{{template "header"}}
<body>
<style>
  body {
    background-image: url(../images/himapopo.JPG);
    background-size: 100%;
    background-repeat:  no-repeat;
    background-position:top center;
    font-family: "Nico Moji";
  }

  .top-image{
    width: 60px;
    height: 60px;
  }

  .top-content{
    background-color: white;
    opacity: 0.7;
  }
</style>
  <div class="container my-4">
    <div class="row">
      <div class="col-12 text-center my-3"><h1 class="text-warning">ひまぽぽかんりアプリ</h1></div>
      <div class="col-4"></div>
      <div class="col-4 offset-4 mx-auto my-3"><a href="/new" class="btn btn-primary btn-lg btn-block">記録する</a></div>
      <div class="col-4"></div>
      <div class="col-4 offset-4 mx-auto my-3"><a href="/index" class="btn btn-secondary btn-lg btn-block">記録を見る</a></div>
    </div>
    <div class="row">
      {{if .}}
      <div class="col-12 text-center mt-3"><h2 class="text-white">今日の記録</h2></div>
      {{ range .}}
      <div class="col-6">
        <div class="row shadow top-content my-1 mx-1 px-1">
          <div class="col-12 border-bottom py-1"><h4 class="text-warning">{{.Name}}</h4></div>
          <div class="col-12 my-1 py-1 border-bottom"><h5 class="d-inline-block">体重：{{.Weight}}g<span class="text-primary ml-5">{{.WeightDifference}}g</span></h5>
          </div>
          <div class="col-12 my-1 pb-1 border-bottom"><h5>シード：{{.Seed}}g</h5></div>
          <div class="col-12 my-1 pb-1 border-bottom"><h5>ペレット：{{.Pellet}}g</h5></div>
          <div class="col-12 my-1 pb-1"><h5>メモ：{{.Memo}}</h5></div>
        </div>
      </div>
      {{end}}
      {{else}}
      <div class="col-12 text-center mt-5"><h3 class="text-white d-inline-block">今日の記録がないよ...</h3><img src="../images/okame4.png" class="top-image mb-2"></div>
      {{end}}
    </div>
  </div>
</body>
</html>