<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Document</title>
</head>
<body>
  <div class="container my-5">
    <div class="row">
      <div class="col-12 text-center my-4"><h1>ひまぽぽ管理アプリ</h1></div>
      <div class="col-8 mx-auto my-3"><a href="/new" class="btn btn-primary btn-lg btn-block">記録する</a></div>
      <div class="col-8 mx-auto my-3"><a href="/index" class="btn btn-primary btn-lg btn-block">過去の記録</a></div>
    </div>
  </div>
</body>
</html>