{{template "header"}}
<body>
  <style>
    body {
      background-image: url("../images/okame3.png");
      background-size: 20%;
      background-position:top right;
      background-repeat:  no-repeat;
      font-family: "Nico Moji";
    }
  </style>
  <div class="container my-5">
    <div class="row">
      <div class="col-12 text-center"><h1>記録一覧</h1><span>（直近30件）</span></div>
      <div class="col-12"><a href="/home">トップに戻る</a></div>
      <form action="/sort/" class="col-12 mt-4">
        <div class="row">
          <div class="col-4">
          <select name="year" class="form-control">
            <option value="2020">2020年</option>
            <option value="2021">2021年</option>
            <option value="2022">2022年</option>
          </select>
        </div>
        <div class="col-4">
          <select name="time" class="form-control">
              <option value="01">1月</option>
              <option value="02">2月</option>
              <option value="03">3月</option>
              <option value="04">4月</option>
              <option value="05">5月</option>
              <option value="06">6月</option>
              <option value="07">7月</option>
              <option value="08">8月</option>
              <option value="09">9月</option>
              <option value="10">10月</option>
              <option value="11">11月</option>
              <option value="12">12月</option>
          </select>
        </div>
        <div class="col-4">
          <input type="submit" value="並び替え" class="btn btn-outline-primary">
        </div>
      </div>
      </form>
    </div>

    <div class="row">
      <div class="col-6 text-center mt-3"><h3 class="border-bottom pb-1 text-warning">ぽぽ</h3></div>
      <div class="col-6 text-center mt-3"><h3 class="border-bottom pb-1 text-warning">ひま</h3></div>
      {{ range .}}
      <div class="col-6">
        <div class="row my-3 shadow mx-1 py-1 px-1">
          <div class="col-12 mt-1 border-bottom pb-1">
            <span>体重：{{.Weight}}g</span>
          </div>
          <div class="col-12 mt-1 border-bottom pb-1">
            <span>シード：{{.Seed}}g</span>
          </div>
          <div class="col-12 mt-1 border-bottom pb-1">
            <span>ペレット：{{.Pellet}}g</span>
          </div>
          <div class="col-12 mt-1 pb-1">
            <span>メモ：{{.Memo}}</span>
          </div>
          <div class="col-6 mt-1">
            <a href="/edit/{{.Id}}">編集</a>
          </div>
          <div class="col-6 mt-1 d-flex justify-content-end">
            <span class="text-secondary">{{.Created_datetime}}</span>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</body>
</html>