<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
  <title>ひまぽぽ管理アプリ</title>
</head>
<body>
  <style>
    body {
      background-image: url("../images/okame2.png");
      background-size: 20%;
      background-position:bottom right;
      background-repeat:  no-repeat;
      font-family: "Nico Moji";
    }
  </style>
  <div class="container my-5">
    <div class="row">
      <div class="col-12 text-center my-2"><h1>記録入力</h1></div>
      <div class="col-12"><a href="/home/">トップに戻る</a></div>
      <form action="/create/" method="post" class="d-flex">
        <div class="col-6 mx-auto my-3">
          <div class="row">
            <div class="col-12"><h3 class="border-bottom pb-2 text-center text-warning">ぽぽ</h3></div>
            <div class="col-12"><h5>体重</h5></div>
            <div class="col-12"><input type="text" name="p_weight" class="form-control my-1"></div>
            <div class="col-12"><h5>シード</h5></div>
            <div class="col-12"><input type="text" name="p_seed" class="form-control my-1"></div>
            <div class="col-12"><h5>ペレット</h5></div>
            <div class="col-12"><input type="text" name="p_pellet" class="form-control my-1"></div>
            <div class="col-12"><h5>メモ</h5></div>
            <div class="col-12"><textarea type="text" name="p_memo" class="form-control my-1"></textarea></div>
          </div>
        </div>
        <div class="col-6 mx-auto my-3">
          <div class="row">
            <div class="col-12"><h3 class="border-bottom pb-2 text-center text-warning">ひま</h3></div>
            <div class="col-12"><h5>体重</h5></div>
            <div class="col-12"><input type="text" name="h_weight" class="form-control my-1"></div>
            <div class="col-12"><h5>シード</h5></div>
            <div class="col-12"><input type="text" name="h_seed" class="form-control my-1"></div>
            <div class="col-12"><h5>ペレット</h5></div>
            <div class="col-12"><input type="text" name="h_pellet" class="form-control my-1"></div>
            <div class="col-12"><h5>メモ</h5></div>
            <div class="col-12"><textarea type="text" name="h_memo" class="form-control my-1"></textarea></div>
          </div>
          <div class="col-12 mt-5"><input type="submit" value="記録する"></div>
        </div>
      </form>
    </div>
  </div>
</body>
</html>